<div class="background">
  <div class="filter"> <!-- 暗い色のフィルター -->
    <div class="content">
      <br><br>
      <h1 style="color:aliceblue">tabicheck</h1>
      <br><br>
        <p style="color:aliceblue">このサイトを利用して旅の計画・準備をしっかりして</p>
        <p style="color:aliceblue">最高に楽しい旅に出かけましょう！</p>
        <p style="color:aliceblue">その最高に楽しい旅の思い出を共有しましょう。</p>
    </div>
  </div>